# 忽略项目根下的 log 目录以及所有子文件
/log/
# 忽略4-Mutect2/conf/ 目录下的所有文件
4-Mutect2/conf/GCA_000001405*

# 忽略所有以 .log 结尾的日志文件（如 error.log, access.log）
*.log

# 如需再忽略 .log.1、.log.gz 等多级后缀，可启用下面一行
*.log*

# nohup 默认会生成的输出文件
nohup.out

# 忽略7-单倍群分型/1-HaploCart/data/
/7-单倍群分型/1-HaploCart/data/*

# 忽略HaploGrouper目录中的超大文件
/7-单倍群分型/3-HaploGrouper/data/*
/7-单倍群分型/3-HaploGrouper/input/*.vcf
/7-单倍群分型/3-HaploGrouper/input/*.vcf.gz

/5-经典群体遗传学计算/data/*

/9-VerifyBamID2/data/*

4-Mutect2/download/Mutect2.tar.gz

4-Mutect2/bin/
4-Mutect2/bin/jdk-17.0.2/

11-样本筛选与单倍群分析流程/data/本次研究样本基本信息_含单倍群.csv

11-样本筛选与单倍群分析流程/tmp/

11-样本筛选与单倍群分析流程/output/*

12-单倍群年龄估计/data/17.2/ancestral_sequences.fasta

12-单倍群年龄估计/data/17.3/ancestral_sequences_17.3.fasta

12-单倍群年龄估计/data/17.2/merged_clean.vcf.gz

12-单倍群年龄估计/data/17.3/merged_clean.vcf.gz

12-单倍群年龄估计/META/2-单倍群信息.tsv

12-单倍群年龄估计/output